<!DOCTYPE html> 
<html>
<head>
    <title>Login Page - Inventory Management for Clubs</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="loginBox">
            <div class="loginHeader">
                <h1>Inventory Management for Clubs IITGN</h1>
                <h3>Login Page</h3>
            </div>
            <div class="loginBody">
                <form action="#"> <!-- Add your action URL -->
                    <fieldset>
                        <div class="formGroup">
                            <label for="username">Username:</label>
                            <input placeholder="username" type="text" id="username" name="username" required>
                        </div>
                        <div class="formGroup">
                            <label for="password">Password:</label>
                            <input placeholder="password" type="password" id="password" name="password" required>
                        </div> 
                        <button type="submit" class="btnSubmit">Login</button>
                        <div class="formExtras">
                            <label><input type="checkbox" name="remember"> Remember Me</label>
                            <a href="#" class="forgotPassword">Forgot Password?</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
